<%- include('../partials/headerAdm.ejs'); %>
  <%- include('../partials/flash.ejs'); %>

    <div class="container px-4 px-md-2">
      <a class="px-3 btn btn-success " href="/administrador/">
        < Atras</a>

          <div class="row  justify-content-center">
            <div class="col-md-8 border border-dark p-lg-5 p-y-2 ">
              <div class="lead px-md-3 text-center">
                Cierre de caja de <b><%= cierreDeCajaRealizadoIndividual.estacionDeCobro.ubicacionDeEstacion %> </b> <span
                    id="actualTime"></span>
              </div>
              <div id="actualTime" class="col-4 text-end lead px-md-3">
               <%= cierreDeCajaRealizadoIndividual.createdAt %>  

              </div>
              <!-- montos de las ventas + caja -->

              <div class="col-12 mb-3">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Se realizaron los siguientes ingresos de efectivo de la caja:
                      </button>
                    </h2>
                    <!-- <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="row justify-content-between mb-3">
                          <div class="col-6 mb-3">Cantidad:</div>
                          <div class="col-6 mb-3">Fecha:</div>


                          <% for( let ingresos of estacionDeCobro.ingresosDeEfectivoManual ) { %>

                            <div class="col-6">
                              <%= ingresos.cantidad %>
                            </div>
                            <div class="col-6">
                              <%= ingresos.fecha.toLocaleString() %>
                            </div>

                            <% } %>

                        </div>
                      </div>
                    </div> -->
                  </div>

                </div>

              </div>


              <div class="col-12 mb-3 px-1">

                 Dinero en caja al momento del cierre: $<%= cierreDeCajaRealizadoIndividual.dineroEnEstacion %>

              </div>

              <div class="col-12 mb-3 px-1"> Se ingreso en el inicio del ciclo de la estación $<%= cierreDeCajaRealizadoIndividual.dineroDeInicio %>
              </div>
              <div class="col-12 mb-3 px-1"> Se realizaron <span><%= cierreDeCajaRealizadoIndividual.comprasRealizadasEnEfectivo %></span>  ventas en efectivo
              </div>
              <div class="col-12 mb-3 px-1"> Se realizaron <span><%= cierreDeCajaRealizadoIndividual.comprasRealizadasEnOtro %></span> ventas con tarjeta/transferencia/otro
              </div>


              <% if(cierreDeCajaRealizadoIndividual.egresoDeEfectivoManual[0]){ %>
                <div class="col-12 mb-3">
                  Se realizaron los siguientes retiros de efectivo de la caja:
                  <ul>
                    <% for( let retiros of cierreDeCajaRealizadoIndividual.egresoDeEfectivoManual ) { %>
                      <li class="d-flex justify-content-between">
                        <div class="">Cantidad: <%= retiros.cantidad %>
                        </div>
                        <div class="">Fecha: <%= retiros.fecha.toLocaleString() %>
                        </div>
                      </li>
                      <% } %>
                        <li>

                        </li>
                  </ul>

                </div>
                <% } %>
                  <div class="col-12 mb-3 px-1">
                    Total de dinero recaudado en ventas en efectivo : <%= cierreDeCajaRealizadoIndividual.dineroDeVentasEnEfectivo %>
                  </div>
                  <div class="col-12 mb-3 px-1">
                    Total de dinero recaudado en ventas en tarjeta/transferencia : <%= cierreDeCajaRealizadoIndividual.dineroDeVentasEnOtro %>
                  </div>
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="comentarioDeCierre" class="form-label">Agregar comentario</label>
                      <textarea class="form-control" name="comentarioDeCierre" id="comentarioDeCierre" rows="3"></textarea>
                    </div>
                  </div>
                  <ul class="nav d-flex justify-content-around">
                    <li class="nav-item">
                      <a href="/administrador/estacionesdecobro/<%= cierreDeCajaRealizadoIndividual._id %>">Cancelar</a>
                    </li>
                    <li class="nav-item">
                      <a href="/administrador/estacionesdecobro/<%= cierreDeCajaRealizadoIndividual._id %>/cierre-caja/imprimir">Imprimir</a>
                    </li>
                    <li class="nav-item">
                      <a href="/administrador/estacionesdecobro/<%= cierreDeCajaRealizadoIndividual._id %>/cierre-caja/guardar">Auditar cierre</a>
                    </li>
                    
                  </ul>
            </div>
          </div>
    </div>


    <script src="/ux.js"></script>

    <%- include('../partials/footer.ejs'); %>